<!--footer-->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            	<a href="https://www.ruyun.fun" target=_blank>ruyun © 如云科技 from 2024</a> |
				<a href="https://www.ruyun.fun">本站招聘</a> |
				<a href="https://www.ruyun.fun">联系站长</a> |
				<a href="https://www.ruyun.fun">意见与建议</a> |
				<a href="https://www.ruyun.fun" target=_blank>宁ICP备2024002821号</a> |
				<a href="{% url 'Index:login' %}">后台登录</a>
            </div>
        </div>
    </div>
</footer>
<!--footer-->
